---
- name: Converge
  hosts: all
  become: false
  pre_tasks:
    - name: Ensure Python is installed (Ubuntu)
      package:
        name: python3
        state: present
      when: ansible_os_family == "Debian"

    - name: Ensure Python is installed (OracleLinux)
      package:
        name: python3
        state: present
      when: ansible_os_family == "RedHat"  
  roles:
    - role: vector-role
